            /* _______BASIC STYLE_______ */


/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */
:root{
      --text: #434455;
      --sub-text: #8e8f99;
      --active: #4d5ae5;
      --dark: #2e2f42;
      --green: #31d0aa;
      --accent: #e7e9fc;
      --iight: #f4f4fd;
}     

body {
      color: var(--text);
      font-family: 'Roboto', sans-serif;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;

      background-color: #ffffff;
}

.hero-title, .title, .sub-title{
      font-weight: 500;
}
.hero-title{
      font-size: 56px;
      color: #ffffff;
      line-height: 1.07;
      text-align: center;
}

.title{
      color: var(--dark);
      font-size: 36px;
      line-height: 1.11;
      text-align: center;

}

.sub-title{
      font-size: 20px;
      color: var(--dark);
      line-height: 1.2;
}

.list{
      list-style: none;
}

            /* ///////STUDIO I////// */

            /* _______HEADER_______ */


.logo{

      color: var(--dark);
      font-family: 'Raleway', sans-serif;
      font-weight: 800;
      font-size: 18px;
      line-height: 1.33;
      letter-spacing: 0.03em;
      text-decoration: none;
      text-transform: uppercase;

      cursor: pointer;
}

.logo span{
      color: var(--active);
}


.link{
      text-decoration: none;
      color: var(--dark);
}
.header .link:hover,
.header .link:focus{
      color: var(--text);
}

.header .link:active{
      color: var(--active);
}

.main-nav .link{
      font-weight: 500;
      color: var(--dark);
      text-decoration: none;
}

.main-nav .link.current{
      border-bottom: 2px solid var(--active);
}
            /* _______HERO_______ */

.hero{
      background-color: var(--dark);
}

.btn{
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.2;
      letter-spacing: 0.04em;
      color: #ffffff;
      background-color: var(--active);

      cursor: pointer;
}

.btn:active{
      background-color: #404bbf;
}

            /* _______FEATURE_______ */


            /* _______OUR WORK_______ */

            /* _______OUR TEAM_______ */

.our-team{
      background-color: var(--iight);
}

            /* _______FOOTER_______ */

.footer{
      background-color: var(--dark);
}

.footer .logo{
      color: var(--iight);
      line-height: 1.17;
}

.footer-text{
      color: var(--accent);
}

            /* /////////PORTFOLIO II/////// */

.portfolio .title{
      font-size: 20px;
      color: var(--dark);
      line-height: 1.2;
      text-align: left;
}


.portfolio .btn{
      color: var(--active);
      background-color: var(--accent);
      line-height: 1.5;
}

.portfolio .btn:hover,
.portfolio .btn:focus{
      background-color: var(--active);
      color: #ffffff;
}

.sub-text{
      color: var(--iight);
      background-color: var(--active);
}


























